@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Syne:wght@400..800&display=swap');
*{
    background-attachment: #F5F5EF;
}


.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: "Syne", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    
}
.nav a {
    margin: 0 15px;
    text-decoration: none;
    color:#1D221B;
    font-size: bold;
  }
  

.main-image {
    text-align: center;
    font-family: "Cutive", serif;
    font-size: 80px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 50px;
}
  
.portfolio-item img {
    width: 100%;
    border-radius: 10px;
    height: auto;
  }
  
.portfolio-item p {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .portfolio-item small {
    color: #777;